.login {
  .title-login {
    color: #ffba00;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login-form {
    width: 335px;
    margin: 0px auto;
    padding: 40px 50px 30px;
    background-color: rgb(255, 255, 255);
    text-align: center;

    .form-wrap {
      margin-bottom: 50px;

      label {
        color: #767676;
        font-weight: bold;
        display: block;
        margin-bottom: 20px;
        font-size: 16px;
      }

      input {
        border-bottom: 1px solid #707070;
        width: 100%;
        font-size: 16px;
        text-align: center;
      }
    }

    .login-button {
      width: 150px;
      height: 45px;
      padding: 1px 6px;
      margin: 7px;
      border-radius: 10px;
      border: 1px solid #b2b2b2;
      color: white;
      background-color: #ffba00;
      font-weight: bold;
      font-size: 18px;

      &:disabled {
        background-color: white;
        color: #b2b2b2;
      }
    }

    .signup {
      text-decoration: underline;
      font-weight: bold;
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 40px;

      a {
        color: #0097f3;
      }
    }

    .social-button {
      font-weight: bold;
      font-size: 13px;
      width: 80%;
      margin: 0 auto;
      font-size: 15px;

      button {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 10px;
        padding: 10px 0;

        img {
          margin-right: 5px;
          width: 16px;
          vertical-align: middle;
        }

        &.loginButton-kakao {
          background-color: #ffe80f;
          color: #59500e;
          border: none;
        }

        &.loginButton-naver {
          background-color: #37c736;
          color: #ffffff;
        }

        &.loginButton-google {
          background-color: #ffffff;
          color: #757575;
          border: 1px solid #757575;
        }
      }
    }

    .link-find {
      margin-bottom: 20px;

      a {
        text-decoration: underline;
        font-weight: bold;
        font-size: 15px;
        color: #c3c3c3;
      }
    }
  }
}
