.container.type-login {
  margin-top: 60px;
}
.container.type-login .contents {
  display: flex;
  flex: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container.type-login .contents .signup {
  color: #ffba00;
  margin-bottom: 70px;
  font-size: 20px;
  font-weight: bold;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.container.type-login .contents .iconsignup {
  width: 160px;
  height: 160px;
  margin-bottom: 70px;
}
.container.type-login .signup-form {
  text-align: center;
}
.container.type-login .signup-form .form-wrap {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 400px;
}
.container.type-login .signup-form .form-wrap label {
  color: #ffba00;
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}
.container.type-login .signup-form .form-wrap input {
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #666;
  text-align: center;
  font-size: 16px;
}
.container.type-login .signup-form .form-wrap input:focus {
  outline: none;
  border-bottom: 1px solid blue;
}
.container.type-login .signup-form .form-wrap input.error {
  border-bottom: 1px solid red;
}
.container.type-login .signup-form .form-wrap input.error:focus {
  border-bottom: 1px solid red;
}
.container.type-login .signup-form .form-wrap input.error ~ .alert-txt {
  display: block;
}
.container.type-login .signup-form .form-wrap:first-child {
  margin-top: 0;
}
.container.type-login .signup-form .form-wrap .alert-txt {
  display: none;
  margin-top: 10px;
  color: red;
}
.container.type-login .signup-form .form-wrap .check-repeat {
  font-size: 14px;
  font-weight: bold;
  color: #666;
  position: absolute;
  right: 5px;
  top: 57px;
  text-decoration: underline;
}
.container.type-login .signup-form .check-adult {
  color: yellow;
  border: none;
  width: 220px;
  height: 43px;
  background-color: rgb(255, 186, 0);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
}
.container.type-login .signup-form .alert-name {
  color: #cfcfcf;
  padding-top: 20px;
}
.container.type-login .signup-form select {
  width: 100%;
  text-align: center;
  font-size: 18px;
  background-color: none;
  font-family: inherit;
  border-bottom: 1px solid black;
  padding: 5px 0px;
}
.container.type-login .signup-form .agreement {
  padding: 10px;
  font-weight: bold;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #666;
  margin-bottom: 10px;
}
.container.type-login .signup-form .agreement span.blue {
  color: #299ff4;
}
.container.type-login .signup-form .agreement span.red {
  color: #f88c8b;
}
.container.type-login .agreement-checkbox {
  text-align: right;
}
.container.type-login .submit-btn {
  width: 130px;
  height: 40px;
  font-size: 15px;
  margin-top: 40px;
  border: 1px solid black;
  border-radius: 15px;
  margin-bottom: 50px;
  font-weight: bold;
  color: black;
}
.container.type-login .submit-btn:disabled {
  opacity: 0.3;
}
.container.type-login .nickname-repeat {
  position: relative;
}
.container.type-login .nickname-repeat .container {
  text-align: center;
}
.container.type-login .nickname-repeat input {
  outline: none;
}
.container.type-login .nickname-repeat .signup {
  color: #ffba00;
  margin: 0 0 20px;
  font-size: 18x;
  font-weight: bold;
  margin-bottom: 70px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.container.type-login .nickname-repeat .iconsignup {
  width: 160px;
  height: 160px;
  margin-bottom: 70px;
}
.container.type-login .nickname-repeat .title-email,
.container.type-login .nickname-repeat .title-pw,
.container.type-login .nickname-repeat .check-pw,
.container.type-login .nickname-repeat .nickname {
  font-size: 16px;
  color: rgb(255, 186, 0);
  font-weight: bold;
  margin-bottom: 20px;
}
.container.type-login .nickname-repeat .register-input:focus {
  border-bottom: red;
}
.container .agreement-checkbox {
  text-align: right;
}
.container .submit-btn {
  width: 130px;
  height: 40px;
  font-size: 15px;
  margin-top: 40px;
  border: 1px solid black;
  border-radius: 15px;
  margin-bottom: 50px;
  font-weight: bold;
  color: black;
}
.container .submit-btn:disabled {
  opacity: 0.3;
}
.container .nickname-repeat {
  position: relative;
}
.container .nickname-repeat .container {
  text-align: center;
}
.container .nickname-repeat input {
  outline: none;
}
.container .nickname-repeat .signup {
  color: #ffba00;
  margin: 0 0 20px;
  font-size: 18x;
  font-weight: bold;
  margin-bottom: 70px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.container .nickname-repeat .iconsignup {
  width: 160px;
  height: 160px;
  margin-bottom: 70px;
}
.container .nickname-repeat .title-email,
.container .nickname-repeat .title-pw,
.container .nickname-repeat .check-pw,
.container .nickname-repeat .nickname {
  font-size: 16px;
  color: rgb(255, 186, 0);
  font-weight: bold;
  margin-bottom: 20px;
}
.container .nickname-repeat .register-input:focus {
  border-bottom: red;
}/*# sourceMappingURL=Register.css.map */