// 팀원과 상의 후 common에 넣으면 좋음(어차피 프로젝트 내의 다른 input들도 유사한 레이아웃일 것이기 때문!

.container {
  display: flex;
  flex: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  outline: none;
}

.signup-form {
  text-align: center;
}

.signup {
  color: #ffba00;
  margin-bottom: 70px;
  font-size: 20px;
  font-weight: bold;
  text-decoration-line: none;
}

.email-signup,
.pw-signup,
.check-signup,
.nickname-signup {
  margin-bottom: 60px;
}

.iconsignup {
  width: 160px;
  height: 160px;
  margin-bottom: 70px;
}

.title-email,
.title-pw,
.check-pw,
.nickname {
  font-size: 18px;
  color: rgb(255, 186, 0);
  font-weight: bold;
  margin-bottom: 50px;
}

.email-input,
.pw-input,
.check-pw,
.pwcheck-input {
  width: 100%;
  border-bottom: 1px solid #c8c8c8;
  padding: 4px 0 5px;
  font-size: 18px;
  text-align: center;
}

.repeat-check {
  font-weight: bold;
  color: rgb(0, 151, 243);
}

.register-input {
  &:focus {
    border-bottom: red;
  }

  &:hover {
  }

  &:disabled {
  }
}

.form-wrap {
  margin-top: 30px;
  text-align: center;
  label {
    color: #ffba00;
    font-size: 20px;
    font-weight: bold;
  }
  input {
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #666;
  }
  &:first-child {
    margin-top: 0;
  }
}
