.main-wrap .main-section .section-tit {
  position: relative;
  display: flex;
  margin-bottom: 30px;
}
.main-wrap .main-section .section-tit .icon {
  margin-right: 10px;
  width: 40px;
}
.main-wrap .main-section .section-tit .icon img {
  margin-top: -4px;
}
.main-wrap .main-section .section-tit .tit strong {
  font-size: 22px;
  font-weight: bold;
}
.main-wrap .main-section .section-tit .tit strong + span {
  margin-top: 5px;
}
.main-wrap .main-section .section-tit .tit > span {
  display: inline-block;
  width: 100%;
  color: #ffb43b;
  font-size: 18px;
  font-weight: bold;
}
.main-wrap .main-section .section-tit .tit .time {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  padding-left: 11px;
  vertical-align: 2px;
}
.main-wrap .main-section .section-tit .tit .time span {
  font-size: 18px;
  font-weight: bold;
}
.main-wrap .main-section .section-tit .tit .time span.sub-txt {
  margin-left: 8px;
  font-size: 14px;
  font-weight: normal;
  vertical-align: 1px;
}
.main-wrap .main-section .section-tit .tit .time:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 1px;
  height: calc(100% - 8px);
  background: #000;
}
.main-wrap .main-section .section-tit .btn-txt {
  position: absolute;
  bottom: 5px;
  right: 0;
  color: #296dea;
  font-weight: bold;
}
.main-wrap .main-section .section-tit .btn-txt:after {
  content: "";
  display: inline-block;
  margin-left: 3px;
  width: 5px;
  height: 5px;
  vertical-align: 2px;
  border-top: 2px solid #296dea;
  border-right: 2px solid #296dea;
  transform: rotate(45deg);
}
.main-wrap .main-section .main-banner {
  display: flex;
  height: 360px;
  border-radius: 12px;
  background: #3e3e3e;
  overflow: hidden;
}
.main-wrap .main-section .main-banner .thumb {
  width: 36%;
}
.main-wrap .main-section .main-banner .thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-wrap .main-section .main-banner .info-area {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64%;
}
.main-wrap .main-section .main-banner .info-area .product {
  width: 55%;
}
.main-wrap .main-section .main-banner .info-area .product .tag {
  display: inline-block;
  padding: 0 6px;
  line-height: 24px;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
}
.main-wrap .main-section .main-banner .info-area .product .tag.red {
  background: #d33939;
}
.main-wrap .main-section .main-banner .info-area .product .txt {
  margin-top: 6px;
  color: #c4c4c4;
}
.main-wrap .main-section .main-banner .info-area .product .tit {
  color: #fff;
  margin-top: 6px;
  font-size: 18px;
  font-weight: bold;
}
.main-wrap .main-section .main-banner .info-area .product .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #707070;
}
.main-wrap .main-section .main-banner .info-area .product .info .review-area li {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  padding-left: 11px;
  color: #fff;
}
.main-wrap .main-section .main-banner .info-area .product .info .review-area li img {
  margin-right: 4px;
  width: 16px;
  vertical-align: -2px;
}
.main-wrap .main-section .main-banner .info-area .product .info .review-area li span {
  font-weight: bold;
}
.main-wrap .main-section .main-banner .info-area .product .info .review-area li:first-child {
  margin-left: 0;
  padding-left: 0;
}
.main-wrap .main-section .main-banner .info-area .product .info .review-area li:first-child:before {
  display: none;
}
.main-wrap .main-section .main-banner .info-area .product .info .review-area li:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 1px;
  height: calc(100% - 6px);
  background: #b2b2b2;
}
.main-wrap .main-section .main-banner .info-area .product .info .price-area {
  display: flex;
  align-items: center;
}
.main-wrap .main-section .main-banner .info-area .product .info .price-area .price {
  display: inline-block;
  margin-right: 12px;
  color: #b2b2b2;
  font-size: 18px;
  text-decoration: line-through;
}
.main-wrap .main-section .main-banner .info-area .product .info .price-area .discount-price {
  display: inline-block;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
.main-wrap .main-section .product-list {
  margin-left: -16px;
  overflow: hidden;
}
.main-wrap .main-section .product-list .product-info-box {
  display: inline-block;
  width: 25%;
}
.main-wrap .main-section .product-list .product-info-box:nth-child(n+5) {
  display: none;
}
.main-wrap .main-section.type-center .section-tit {
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.main-wrap .main-section.type-center .section-tit .icon {
  margin: 0 auto 10px;
}
.main-wrap .main-section.type-center .section-tit .tit strong {
  font-size: 18px;
}
.main-wrap .main-section.type-center .section-tit .tit > span {
  font-size: 14px;
}
.main-wrap .main-section.type-center .section-tit .tit > span + strong {
  display: block;
  margin-top: 15px;
}
.main-wrap .main-section + .main-section {
  margin-top: 100px;
}/*# sourceMappingURL=Main.css.map */