.option-box {
  margin: 15px 0px 0px 15px;
  .option-container {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    .option-item-wrapper {
      box-sizing: border-box;
      margin: 0;
      flex-direction: row;
      flex-basis: 50%;
      flex-grow: 0;
      max-width: 30%;
      .option-item {
        display: flex;
        margin-bottom: 22px;
        box-sizing: border-box;
        .option-check-box {
          display: block;
          .option-check-button {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            border-radius: 5px;
            cursor: pointer;
            background-color: transparent;
            border: none;
            outline: none;
            .check-box-img {
              width: 20px;
              height: 20px;
            }
          }
        }
        .option-text {
          margin-left: 15px;
          cursor: pointer;
          border: none;
          outline: none;
        }
      }
    }
  }
}
