.discovery-wrap {
  .discovery-question {
    margin: 13px 0;
    font-size: 17px;
  }
  .discovery-method {
    width: 400px;
    text-align: center;
    font-size: 18px;
    background-color: none;
    font-family: inherit;
    border-bottom: 1px solid black;
    padding: 5px 0px;
  }
}
