.right-side {
  margin-left: 50px;
  width: 100%;
  max-width: 300px;
  display: inline-block;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  vertical-align: top;
}
.right-side .detail-sideBar {
  margin-right: 100px;
  width: 300px;
  max-height: 100vh;
  padding: 30px 10px;
  border-radius: 10px;
  box-shadow: rgb(112, 112, 112) 0px 0px 3px 0px;
  font-weight: bold;
  color: rgb(112, 112, 112);
}
.right-side .detail-sideBar .label {
  text-align: left;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
  color: rgb(62, 62, 62);
}
.right-side .detail-sideBar .select-plus,
.right-side .detail-sideBar .select-minus {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.right-side .detail-sideBar .select-plus .countDiv,
.right-side .detail-sideBar .select-minus .countDiv {
  border: 1px solid #fbfbfb;
}
.right-side .detail-sideBar .select-plus .img-minus,
.right-side .detail-sideBar .select-minus .img-minus {
  width: 24px;
  height: 24px;
}
.right-side .detail-sideBar .select-plus .img-plus,
.right-side .detail-sideBar .select-minus .img-plus {
  width: 24px;
  height: 24px;
}
.right-side .detail-sideBar .select-wrapper .select-wrapper-count {
  justify-content: space-between;
  align-items: center;
  padding: 0px 28px;
}
.right-side .detail-sideBar .select-wrapper-count {
  width: 100%;
  height: 45px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  border: 1px solid rgb(224, 224, 224);
  margin-bottom: 20px;
}
.right-side .detail-sideBar .select-wrapper {
  width: 100%;
  height: 45px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  border: 1px solid rgb(224, 224, 224);
  margin-bottom: 20px;
}
.right-side .detail-sideBar .delivery {
  background: #f7f7f7;
  margin: 0px 0px 60px;
  padding: 10px 6px;
  border-radius: 10px;
}
.right-side .detail-sideBar .delivery .delivery-icon,
.right-side .detail-sideBar .delivery .delivery-info {
  padding-left: 5px;
  display: inline-block;
}
.right-side .detail-sideBar .delivery .delivery-icon .price-blue-font,
.right-side .detail-sideBar .delivery .delivery-info .price-blue-font {
  color: #0097f3;
  margin-left: 5px;
}
.right-side .detail-sideBar .delivery .delivery-icon .price,
.right-side .detail-sideBar .delivery .delivery-info .price {
  margin-left: 5px;
}
.right-side .detail-sideBar .delivery .iconTruck {
  width: 20px;
}
.right-side .detail-sideBar .btn-wrapper {
  position: relative;
}
.right-side .detail-sideBar .btn-wrapper .btn-left,
.right-side .detail-sideBar .btn-wrapper .btn-right {
  display: inline-block;
}
.right-side .detail-sideBar .btn-wrapper .btn-left .icon-img,
.right-side .detail-sideBar .btn-wrapper .btn-right .icon-img {
  width: 24px;
  vertical-align: text-bottom;
}
.right-side .detail-sideBar .btn-wrapper .btn-left .open-btn,
.right-side .detail-sideBar .btn-wrapper .btn-right .open-btn {
  background-image: url("/assets/ProductDetail/gift_tooltip_right.png");
  width: 123px;
  height: 43px;
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  display: block;
  top: -47px;
  right: 0px;
  left: inherit;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  padding: 14px 0px;
}
.right-side .detail-sideBar .btn-wrapper .btn-left .close-btn,
.right-side .detail-sideBar .btn-wrapper .btn-right .close-btn {
  display: inline-block;
  margin-left: 7px;
  width: 9px;
  cursor: pointer;
}
.right-side .detail-sideBar .btn-wrapper .cart-btn,
.right-side .detail-sideBar .btn-wrapper .present-btn {
  width: 135px;
  margin-right: 5px;
  height: 48px;
  background-color: white;
  border-radius: 5px;
  padding: 0px;
  margin: 0px 5px 10px 0px;
  white-space: nowrap;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease 0s;
  border: 1px solid #b2b2b2;
}
.right-side .detail-sideBar .btn-wrapper .purchase-btn {
  background-color: #0097f3;
  color: white;
  width: 100%;
  height: 48px;
  border-radius: 5px;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  text-rendering: auto;
  font-size: 20px;
}/*# sourceMappingURL=Rightside.css.map */