.product-info-box {
  display: block;
  padding: 16px 0 0 16px;
}
.product-info-box .product-info .product-link .image-wrapper {
  width: 100%;
  height: 250px;
  position: relative;
  border-radius: 10px;
}
.product-info-box .product-info .product-link .image-wrapper .product-img {
  border-radius: 15px;
  box-sizing: border-box;
  padding: 0 0 0 0;
  border: none;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.product-info-box .product-info .product-link .product-content-box {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}
.product-info-box .product-info .product-link .product-content-box .product-wrapper .product-name {
  height: 15px;
  font-size: 15px;
  color: rgb(62, 62, 62);
  font-weight: bold;
  text-align: left;
  line-height: normal;
}
.product-info-box .product-info .product-link .product-content-box .product-wrapper .product-price-wrapper {
  color: rgb(62, 62, 62);
  font-size: 16px;
  text-align: left;
  font-weight: bold;
  line-height: 15px;
}
.product-info-box .product-info .product-link .product-content-box .product-wrapper .product-price-wrapper .origin-price {
  height: 15px;
  margin-bottom: 5px;
  color: rgb(178, 178, 178);
  text-decoration: line-through;
  font-weight: normal;
  font-size: 14px;
}
.product-info-box .product-info .product-link .product-content-box .product-wrapper .product-price-wrapper .discount-price-wrapper {
  display: flex;
  align-items: flex-end;
}
.product-info-box .product-info .product-link .product-content-box .product-wrapper .product-price-wrapper .discount-price-wrapper .discount-price {
  margin-right: 8px;
}
.product-info-box .product-info .product-link .product-content-box .product-wrapper .score-box {
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 8px;
}
.product-info-box .product-info .product-link .product-content-box .product-wrapper .score-box .star-img {
  vertical-align: middle;
  display: inline-block;
  height: 15px;
  width: 15px;
}
.product-info-box .product-info .product-link .product-content-box .product-wrapper .score-box .rated-score {
  vertical-align: middle;
  display: inline-block;
  font-size: 13px;
  color: rgb(62, 62, 62);
  margin: 0px 8.4px 0px 5px;
}
.product-info-box .product-info .product-link .product-content-box .product-wrapper .score-box .column-line {
  vertical-align: middle;
  display: inline-block;
  width: 0.8px;
  height: 18px;
  background-color: rgb(235, 235, 235);
}
.product-info-box .product-info .product-link .product-content-box .product-wrapper .score-box .review-number {
  vertical-align: middle;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  margin-left: 6.6px;
  color: rgb(112, 112, 112);
}
.product-info-box .product-info .product-link .product-content-box .product-footer {
  border-top-width: 0.5px;
  border-style: solid;
  border-color: rgb(235, 235, 235);
  padding-top: 8px;
  font-weight: bold;
}
.product-info-box .product-info .product-link .product-content-box .product-footer .product-tag {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: normal;
  color: rgb(112, 112, 112);
  text-align: left;
}/*# sourceMappingURL=ProductItem.css.map */