.register-terms-wrap {
  .terms-agreement {
    margin-top: 10px;
  }
  .agreement-checkbox-wrap {
    .agreement-checkbox {
      text-align: right;
      padding: 10px;
      margin-top: 20px;
      font-weight: bold;
      font-size: 16px;
      color: #666;
      margin-bottom: 10px;
      .blue {
        color: #299ff4;
      }
      .red {
        color: #f88c8b;
      }
    }
  }
  .submit-button {
    width: 130px;
    height: 40px;
    font-size: 15px;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 50px;
    font-weight: bold;
    color: black;
    background-color: lightgoldenrodyellow;

    &:disabled {
      opacity: 0.3;
      background-color: none;
    }
  }
}
