.drop-btn {
  display: flex;
  height: 40px;
  padding: 12px 12.7px 11px 10px;
  border: 1px solid rgb(244, 244, 244);
  margin-right: 15px;
  white-space: nowrap;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 10px;
}
